{% extends "layout.html" %}

{% block title %}{{location.name}}{% endblock %}

{% block content %}

<h2>{{location.name}}</h2>
<hr>

<div class="col-sm-4">
  <p style="padding-bottom: 100px;">{{location.description}}</p>
  <p>{{address.address1}}</p>
  <p>{{address.city}}, {{address.state}} {{address.zipcode}}</p>
  <p>{{address.phone}}</p>
  <p>{{address.email}}</p>
  <p>Wesbite: <a href={{address.website}}>{{location.name}}</a></p>
</div>

<div class=pull-right>
  {% if location.photo %}
  <img src={{location.photo}}/></br>
  {% endif %}
</div>

{% endblock %}
