{% extends "layout.html" %}

{% block title %}{{route.name}}{% endblock %}

{% block content %}

<h2>{{route.name}}</h2>
<hr>
<div class="row">
    <div class="col-sm-6">
      <p style="padding-bottom: 25px;">{{route.description}}</p>
      <p>

      route.anchor.name {{route.anchor.name}}</br>
      route.description {{route.description}}</br>
      route.last_update {{route.last_update}}</br>
      </br>
      </p>
    </div>

    <div class="col-sm-6">
      {% if route.photo %}
      <img class="img-responsive" src={{route.photo}}></br>
      {% endif %}
    </div>
</div>
{% endblock %}
