<div class="col-sm-2">
    <ul class="nav">
      <li><a href="#user_home"><b>User's Name (user.fullname)</b></a></li>
      <li><a href='#homegym'>user.homegym link</a></li>
      <li><a href='#new_sesh'>Log a new Session</a></li>
      <li><a href='#recent_climbs'>Recent Climbs</a></li>
      <li><a href='#other_stuff'>Some Other Stuff</a></li>
      </br></br>
      <hr>
      <li><a href='#edit_profile'>Edit Profile</a></li>
      <li><a href='#something_else'>Some Other Thing</a></li>
      {% endif %}
    </ul>
</div>
