<div class="col-sm-2">
    <ul class="nav">
      <li><a href='{{url_for('user_home', user_id = user.id)}}'><b>{{user.fullname}}</b></a></li>
      <li><a href='{{url_for('location_home', location_id = user.homegym.id)}}'>{{user.homegym.name}}</a></li>
      <li><a href='#new_sesh'>Log a new Session</a></li>
      <li><a href='#recent_climbs'>Recent Climbs</a></li>
      <li><a href='#other_stuff'>Some Other Stuff</a></li>
      </br></br>
      <hr>
      <li><a href='#edit_profile'>Edit Profile</a></li>
      <li><a href='#something_else'>Some Other Thing</a></li>
    </ul>
</div>
